<div>
  <h1>{{title}}</h1>
  <h3>A Concise Autobiography</h3>
</div>
<article class="about">
  <img src="/images/sml.png" alt="Justin Smith">
  <p>Hello, and thank you for taking the time to review my biography.</p>
  <p>I am currently enrolled in Georgian College's 'Interactive Media Design-Web' program, and will be finishing
    the course in May 2022. </p>
  <p>
    In my Web Development program, I've learned about client-side web technologies such as HTML5, CSS, and Javascript,
    design skills such as UI, UX, and graphic design, and server-side technologies such as PHP, Node.Js, and relational
    database management. <br>
    I have a high level of computer literacy and am very comfortable using the Adobe Creative Suite and Microsoft Office
    Suite.
  </p>
  <p>
    I also graduated from Durham College's Game Development progam with honors, and after graduating, I worked for
    nearly
    two years as a Texture Artist at Guru Studio,
    a Toronto-based 3D animation studio that creates the show Paw Patrol. </p>
  <p>
    This taught me a lot about communication between team members, collaboration, troubleshooting, and the sharing of
    ideas. Production deadlines were very tight, and I had to learn to adapt my workflow to limit the amount of time
    spent on individual tasks in order to complete assignments on schedule.
  <p> I am currently looking for employment in either of these fields, so if you like what you read, or saw in
    projects, contact me using the web form! </p>
</article>