<div>
  <h1>{{title}}</h1>
  <h3>Send Me An Email Using The Form</h3>
</div>
<form action="#" method="get">
  <fieldset>
    <label for="subject">Subject:</label>
    <input type="text" name="subject" id="subject">
    <label for="message">Write your message here:</label>
    <textarea name="body" id="body" rows="10"></textarea>
  </fieldset>
  <fieldset>
    <a class="form-button" href="">Send</a>
    <p>
      <u>Or</u> Send A Message To <span>jasaj316@gmail.com</span>
    </p>
  </fieldset>
</form>
<script src="/javascripts/contactScripts.js"></script>