<div>
  <h1>{{title}}</h1>
  <h3>Send Me An Email</h3>
</div>
<form action="#" method="get">
  <fieldset>
    <label for="subject">Subject:</label>
    <input type="text" name="subject" id="subject">
    <label for="message">Write your message here:</label>
    <textarea name="body" id="body" cols="80" rows="10"></textarea>
  </fieldset>
  <fieldset>
    <a class="form-button" href="mailto:jasaj316@gmail.com?subject=&body=">Send</a>
  </fieldset>
</form>