<div>
  <h1>{{title}}</h1>
  <h3>Send Me An Email</h3>
</div>
<form action="#" method="post">
  <fieldset>
    <label for="name">Your name:</label>
    <input type="text" name="name" id="name">
    <label for="message">Write your message here:</label>
    <textarea name="message" id="message" cols="80" rows="10"></textarea>
  </fieldset>
  <fieldset>
    <button type="reset">Send</button>
  </fieldset>
</form>