<!DOCTYPE html>
<html>

<head>
  <title>Justin Smith - Web Dev, 3D Artist | {{title}}</title>
  <link rel="shortcut icon" href="favicon.ico">
  <!--A modern alternative to CSS resets - necolas.github.io/normalize.css/-->
  <link rel='stylesheet' href='/stylesheets/normalize.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div id="headerMain">
      <div class="logo">
        <img src="/images/icon.png" alt="Menu Button">
      </div>
      <div class="title">
        <h1>Justin Smith</h1>
        <h2>Web Dev, 3D Artist</h2>
      </div>
      <div class="links">
        <!-- Icons by https://fontawesome.com/v5.15/icons/ - License: https://fontawesome.com/license-->
        <a href="/external/github">
          <img src="/images/github-brands.svg" alt="Github">
        </a>
        <a href="/external/linkedin">
          <img src="/images/linkedin-in-brands.svg" alt="LinkedIn">
        </a>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="/">About Me</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
  <script src="/javascripts/motion.js"></script>
</body>

</html>