<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Justin Smith - 3D Environment Artist | {{title}}</title>
  <link rel="icon" type="image/png" href="images/favicon.png">
  <!--A modern alternative to CSS resets - necolas.github.io/normalize.css/-->
  <link rel='stylesheet' href='/stylesheets/normalize.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div id="header-main">
      <div class="logo">
        <a href="/">
          <img id="menu-button" src="/images/icon.png" alt="Menu Button">
        </a>
      </div>
      <div class="title">
        <h1>Justin Smith</h1>
        <h2>3D Artist, Web Developer</h2>
      </div>
      <nav>
        <a href="/">Projects</a>
        <a href="/contact">Contact</a>
      </nav>
      <div class="links">
        <!-- Icons by https://fontawesome.com/v5.15/icons/ - License: https://fontawesome.com/license-->
        <a href="/external/github">
          <img id="github-button" src="/images/github-brands.svg" alt="Github">
        </a>
        <a href="/external/linkedin">
          <img id="linkedin-button" src="/images/linkedin-in-brands.svg" alt="LinkedIn">
        </a>
      </div>
    </div>

  </header>
  <main>
    {{{body}}}
  </main>
  <script src="/javascripts/globalScripts.js"></script>
</body>

</html>