<div>
  <h1>{{title}}</h1>
  <h3>A selection of the things I've done</h3>
</div>
<div class="portfolio">
  <article class="one">
    <h2 id="link-one">3D Art ▼</h2>
    <div id="items-one" class="hidden">
      <div class="card-vid">
        <h3>School Portfolio</h3>
        <iframe width="1132" height="732" src="https://www.youtube.com/embed/Vwj1dBYoOZU" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="card">
        <h3>Textured Various Assets in Paw Patrol</h3>
        <img src="/images/paw.jpg" alt="paw patrol">
      </div>
      <div class="card">
        <h3>Winter Night in Unreal Engine 4</h3>
        <img src="/images/frozen.jpg" alt="winter scene">
      </div>
      <div class="card">
        <h3>Forest Scene in Unreal Engine 4</h3>
        <img src="/images/forest.jpg" alt="forest scene">
      </div>
      <div class="card">
        <h3>Winter Night in Unreal Engine 4</h3>
        <img src="/images/blizzard.jpg" alt="blizzard art contest submisssion">
      </div>
  </article>
  <article class="two">
    <h2 id="link-two">Web Dev ▼</h2>
    <div id="items-two" class="hidden">
      <div class="card">
        <h3>Flag-Guessing Game with Interactive Map</h3>
        <img src="/images/Flag.jpg" alt="guess the flag">
      </div>
      <div class="card">
        <h3>Bootstrap Homepage for Automoblox</h3>
        <img src="/images/Automoblox.jpg" alt="automoblox">
      </div>
      <div class="card">
        <h3>Serverless Location Search Box </h3>
        <img src="/images/typeAhead.jpg" alt="type ahead search">
      </div>
    </div>
  </article>
</div>