<div>
  <h1>{{title}}</h1>
  <h3>A selection of the things I've done</h3>
</div>
<div class="portfolio">
  <article class="one">
    <h2 id="link-one">3D Art ▼</h2>
    <div id="items-one">
      <div class="card-vid">
        <h3>Environment Art Portfolio</h3>
        <iframe id="demo-reel" src="https://www.youtube.com/embed/qGbjyyNtrJ8" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="card">
        <h3>Textured Various Assets in Paw Patrol</h3>
        <img src="/images/paw.jpg" alt="paw patrol">
      </div>
      <div class="card">
        <h3>Chitin Helmet from Concept</h3>
        <img src="/images/helmet.jpg" alt="chitin helmet from concept">
      </div>
      <div class="card">
        <h3>Water Well in Unreal Engine 4</h3>
        <img src="/images/well.jpg" alt="water well in unreal engine 4">
      </div>
      <div class="card">
        <h3>Tea Samovar from Concept</h3>
        <img src="/images/tea.jpg" alt="tea samovar from concept">
      </div>
      <div class="card">
        <h3>Winter Night in Unreal Engine 4</h3>
        <img src="/images/frozen.jpg" alt="winter scene">
      </div>
      <div class="card">
        <h3>Forest Scene in Unreal Engine 4</h3>
        <img src="/images/forest.jpg" alt="forest scene">
      </div>
      <div class="card">
        <h3>Blizzard Art Contest</h3>
        <img src="/images/blizzard.jpg" alt="blizzard art contest submisssion">
      </div>
  </article>
  <article class="two">
    <h2 id="link-two">Web Dev ▼</h2>
    <div id="items-two" class="hidden">
      <div class="card">
        <h3>Flag-Guessing Game with Interactive Map</h3>
        <img src="/images/Flag.jpg" alt="guess the flag">
      </div>
      <div class="card">
        <h3>Bootstrap Homepage for Automoblox</h3>
        <img src="/images/Automoblox.jpg" alt="automoblox">
      </div>
      <div class="card">
        <h3>Serverless Location Search Box </h3>
        <img src="/images/typeAhead.jpg" alt="type ahead search">
      </div>
    </div>
  </article>

</div>
<script src="/javascripts/projectsScripts.js"></script>