<div>
  <h1>{{title}}</h1>
  <h3>A selection of the things I've done</h3>
</div>
<div class="portfolio">
  <article class="One">
    <h2>Web Dev</h2>
    <h3>Flag-Guessing Game with Interactive Map</h3>
    <img src="/images/Flag.jpg" alt="guess the flag">
    <h3>Bootstrap Homepage for Automoblox</h3>
    <img src="/images/Automoblox.jpg" alt="automoblox">
    <h3>Serverless Location Search Box </h3>
    <img src="/images/typeAhead.jpg" alt="type ahead search">
  </article>
  <article class="Two">
    <h2>3D Art</h2>
    <h3>Textured Various Assets in Paw Patrol</h3>
    <img src="/images/paw.jpg" alt="paw patrol">
    <h3>Forest Scene in Unreal Engine</h3>
    <img src="/images/forest.jpg" alt="forest scene">
    <h3>Winter Night in Unreal Engine</h3>
    <img src="/images/frozen.jpg" alt="winter scene">
  </article>
</div>