
/* Nunito, Spartan from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap');
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  min-height: 100vh;
  font-size: 16px;
  background-image: url("/images/bg.png");
  background-color: #040611;
  color: #f0eee9;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}
h1{
  font-family: 'Spartan', sans-serif;
  font-size: 2.7rem;
}
h2{
  font-size: 1.44rem;
}
h3{
  color: #ff8800;
}

/* Header */
#header-main{  
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 130px;
  background-image: url("/images/bg.png");
  background-color: #171820;
  border-radius: 0 0 0.3rem 0.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-main > div:nth-of-type(1){
  margin: 30px;
  margin-right: 15px;
}
#header-main h2{
  font-weight: 200;
}
nav{
  position: absolute;
  top: -600px;
  left: 26px;
}
.logo > img{
  width: 128px;
  margin-top: 0.2rem;
  padding: 0.5rem;
  height: auto;
}
.logo > img:focus, .logo > img:hover, .logo > img:active {
  background-color: #2f3761;
  border-radius: 0.2rem;
}
.links{
  margin-left: auto;
  margin-right: 30px;
}
.links img{
  justify-self: flex-end;
  width: 44px;
  height: auto;
  padding: 1.8rem;
}
.links img:focus, .links img:hover, .links img:active {
  background-color: #2f3761;
  border-radius: 0.2rem;
}
.links a{
  text-decoration: none;
}
nav a{
  text-decoration: none;
  color: unset;
  padding: 0.8rem 1.4rem 0.8rem 1.4rem;
}
nav ul {
  padding: 0;
  margin: 0;
  border-radius: 0 0 0.3rem 0.3rem;
  list-style: none;
  background-color: #2b335a;
}
nav ul li{
  text-align: center;
  font-size: 1.55rem;
  padding: 0.8rem 0 0.8rem 0;
  border-top: solid 1px #f0eee922;
}
nav li:focus, nav li:hover, nav li:active{
  background-color: #38499e; 
}

/* Main */
main{
  margin-left: 2vw;
  width:76vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main > *:first-child{
  margin-top: 180px;
}
main > * {
  margin-bottom: 1.5rem;
}
main h1,main h2,main h3{
  text-align: left;
}
main p{
  font-size: 1.4rem;
  max-width: 50vw;
}

/* Article */
article{
  padding: 0.35rem 0.75rem 0.625rem;
}

/* Portfolio */
#demo-reel{
  width: 58.9vw;
  height: 38vw;
}
#items-one, #items-two{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.portfolio h2{
  font-size: 2.5rem;
  margin-bottom: 1.4rem;
  user-select: none;
}

/* cards */
.card, .card-vid{
  flex-direction: column;
  align-items: center;
  background: #2f375f66;
  border-radius: 0.2rem;
  padding: 1vw;
  display: flex;
  margin-right: 1vw;
  margin-bottom: 1vw;
}
.card-vid{
  grid-column-start: span 2;
}
.card h3, .card-vid h3{
  margin-bottom: 1rem;
  font-size: 1.2vw;
}
.card img{
  width: 28vw;
  height: auto;

}

/* Default hidden items */
.hidden{
  display: none !important;
}

/* Modal Images */
.modal-bg{
  position: fixed;
  z-index: 2;
  background-color: #040611ee;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}
.modal-bg p{
  user-select: none;
  position: absolute;
  text-align: center;
  font-size: 9rem;
  margin-top: -2rem;
  right: 2rem;
  font-weight: 900;
}
.modal-img{
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 2.5vh;
  height: 95vh;
  width: auto;
}

/* Form */
form{
  margin: 0;
  font-size: 1.3rem;
}
fieldset{
  border: none;
  display: flex;
  flex-direction: column;
}
fieldset > *{
  margin-bottom: 1rem;
}
input, textarea{
  border: none;
  background-color: #f0eee9;
}
input{
  max-width: 30%;
}
textarea{
  resize: vertical;
}
.form-button{
  text-decoration: none;
  color: #040611;
  background-color: #f0eee9;
  width: 18%;
  font-weight: 600;
  text-align: center;
}
.form-button:focus, .form-button:hover, .form-button:active{
  background-color: #ff8800;
}

/* About */
.about{
  display: flex;
  flex-direction: column;
  text-indent: 1rem;
}
.about p{
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}
.about p:first-of-type{
  margin-block-start: 0;
}